@use "../../../assets/scss/utilities" as *;
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  .login-design {
    width: 40%;
    background: #077777;
  }
  .login-form {
    width: 60%;
    padding-left: 144px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    .login-form-title {
      @include heading7;
      color: $typography-text1;
    }
    .login-form-description {
      @include body2;
      color: $typography-text3;
      width: 50%;
    }
    .login-form-email {
      display: flex;
      flex-direction: column;
    }
    .login-form-password {
      display: flex;
      flex-direction: column;
    }
    .login-form-description-help {
      width: 50%;
      @include small1;
      color: $typography-text3;
      .login-form-description-help-email {
        color: $Primary-green;
      }
    }
  }
}
